body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;
}

.title {
    background-color: #4c5c68;
    color: #b0e4db;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.content {
    background-color: #c5c3c6;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    padding-top: 30px;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    background-color: #c5c3c6;
}

.message {
    font-size: 40px;
    color: #46494b;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: repeat(3, max-content);
    border: 2px solid black;
}

.freeze {
    pointer-events: none;
}

.cell {
    aspect-ratio: 1 /1;
    width: 150px;
    background-color: #ededee;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #555;
    color: #555;
    font-weight: 900;
    font-size: 80px;
}

.cell:hover {
    background-color: #d8e4e9;
}

.win {
    color: #15803d;
}

.restart {
    font-size: 40px;
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    background-color: #4c5c68;
    color: #b0e4db;
}

.restart:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.restart:active {
    transform: translateY(4px);
}